{% extends 'base.html' %}

{% block container_class %}{% spaceless %}
    {{ block.super }} two_columns
{% endspaceless %}{% endblock %}

{% block container %}
    <article class="row-fluid">

        <!-- LEFT-COL -->
        <div class="span8" id="content">
            {% block content %}{% endblock %}
        </div><!-- /LEFT-COL -->
  
        <!-- RIGHT-COL -->
        <div class="span4" id="sidebar" style="background-image: -webkit-gradient(linear, left top, right top, color-stop(66%, #f7f6f1), color-stop(66%, #f7f6f1), color-stop(66%, #f7f6f1), color-stop(100%, #f7f6f1));">
            {% block sidebar %}{% endblock %}
        </aside><!-- /RIGHT-COL -->
    </article>

{% endblock  %}
